[2016-07-28 09:38] jeacott1 opened #3 "documentation issues."
I've spent quite some time trying to update from  auth0-spring-api  to this one.
the instructions don't seem quite right yet.

the old version used to work just fine in my spring-boot webmvc application without me adding @EnableWebSecurity, or @EnableAutoConfiguration but this new one absolutely requires me to explicitly add @EnableWebSecurity. no mention of it in the tutorial. @EnableAutoConfigur

[2016-07-28 09:59] arcseldon commented on #3
@jeacott1 - Thank you for the feedback regarding documentation. Yes, `EnableWebSecurity` is used. It is declared in the library `Auth0SecurityConfig.java` file and users are expected to extend that. The same does also reference the same annotation in its `AppConfig.java` file which extends `Auth0SecurityConfig.java` (default if no application specific config declared).

Shall take a look, likely t

[2016-07-28 13:06] soulrebel opened #4 "WebSecurity debug mode"
Please see https://github.com/auth0/auth0-spring-security-mvc/issues/3.

PS: issue was opened on the other repo because it's very unclear what are the differences and a lot of files are duplicated in both. This is not very clean.

[2016-07-28 23:06] jeacott commented on #3
The mvc lib appears to have redirects on unauthorized etc and zero option to disable this, hence I'm using this one. My backend is rest+rpc api and some static content.

[2016-07-29 06:57] arcseldon commented on #3
Hi @jeacott - thanks for clarifying your server-side app is an API afterall, and not server-side MVC (which is the purpose of the MVC lib). In that case, since it is an API then yes, this library is best choice. So where you mention MVC - is that a SPA application?  If so, here is a sample demonstrating how for example you could set that up using [Angular](https://github.com/auth0-samples/auth0-sp

[2016-07-29 11:40] jeacott commented on #3
I'm still using the spring webmvc libs. And all is working fine. Why do u say users are expected to extend auth0securityconfig? Nowhere in the tutorial does it mention that, it says to do the more normal thing and include the package scan. I'd expect to extend WebSecurityConfigurerAdapter for customising security config.
I'm not sure i see how i can configure multiple auth0 realms using this lib t

[2016-07-29 12:49] arcseldon commented on #3
@jeacott - Pleased to hear it is all working well for you.

The primary difference between the MVC and API is this. Both would work - however, the API works on the understanding that the JWT token passed with each request contains the necessary ROLES claims information. The MVC library will authenticate (verify) the JWT token for secured endpoints and use the UserProfile for GrantedAuthority right

[2016-07-29 13:59] jeacott commented on #3
I dont think both would work in my case would they? I certainly dont want the mvc unauthorized redirect to happen, and that was my primary reason for choosing this lib. With no docs anywhere explaining the difference and options,  and the surprise ditching of the previous lib, and all docs related to it, and no migration docs offered,  for a version 0.0.3!  It hasn't been the friendliest transitio

[2016-07-29 15:50] arcseldon commented on #3
@jeacott - Unfortunately, still not clear what your case is - are you building a SPA application that talks to an API backend?  We have put some documentation [here](https://auth0.com/docs/java-overview) on the high level differences - plus the links provided there to each tutorial + the READEM files with each library and at least one sample (sometimes several) for each of those associated librari

[2016-07-29 22:48] jeacott commented on #3
I found it there previously,  but all the quickstart docs etc for it are gone, and there was no 'hey weve got this new thing, give it a go, here's what u need to know...'. I'm using spring boot w embedded undertow for rest, rpc (spring remoting), websockets (atmosphere), jms, supporting stateless token auth supporting several spa including a react spa and other services.

[2016-08-03 21:21] jeacott1 opened #6 "auth0 'sign in as user' offers name as UNKNOWN_USER."
when logging in via 'login as user...'  principal.getName() now appears to return UNKNOWN_USER.
logging in directly works as expected.

[2016-08-05 01:53] jeacott1 commented on #6
ok, so I figured this out. its nothing to do with this component,
I forgot that the scopes for token content are requested clientside.
what really needs to happen is an optional scope setting be made available for the 'sign in as' feature of auth0.

[2016-08-05 01:53] #6 closed

[2016-08-08 03:21] arcseldon commented on #5
Maven updates applied - now at version `0.2.0`

[2016-08-08 03:24] arcseldon commented on #4
Done.

[2016-08-08 03:24] #4 closed

[2016-08-28 08:27] arcseldon commented on #3
@jeacott - quick update. the documentation is still in progress, however we should be getting near completion this week. Our docs team have been working through a backlog across a range of recently updated libraries, SDKs, and core service changes hence the need to prioritise.

How is everything going?

[2016-09-19 08:12] MoritzR commented on #9
This can apparrently be fixed in the JWTVerifier class itself (there is a pull request for that created some time ago). Better fix it there.

[2016-09-22 16:24] adrogon commented on #3
Hello,

I just wanted to mention, about the docs, that the introduction suggests "com.auth0:auth0-spring-security-api:0.0.3" as a dependency, whereas the current version is 0.**3.0**.

It is accurate regarding the provided examples, but it makes quite the difference when looking for the latest version.

Regards,
Anthony.

[2016-10-03 05:19] arcseldon commented on #3
@adrogon - thanks for pointing out the docs issue with version. Our docs team have been informed and this should be fixed asap.

[2016-10-03 05:30] arcseldon commented on #3
@jeacott - Docs have been updated [here](https://auth0.com/docs/quickstart/backend/java-spring-security)

[2016-10-04 02:02] arcseldon commented on #3
Docs updated.

[2016-10-04 02:02] #3 closed

[2016-10-13 18:26] dariosaltarelli commented on #11
I cannot push upstream branches with applied fixed. But it works by:

1) fixing the pom:
[code]

2) Replace **org.springframework.boot.context.embedded.FilterRegistration** with **org.springframework.boot.web.servlet.FilterRegistrationBean.**

[2016-10-13 23:09] adrogon commented on #11
Hello @dariosaltarelli,
#12 should answer to your issue. Please notice commons-codec is shipped in java-jwt.

[2016-10-14 06:31] dariosaltarelli commented on #11
Hi @adrogon,
It does indeed. For commons-codec somehow it was not picking it up via transitive dependencies so Base64 could not be resolved. Maybe a local issue to my system.

Thanks for the quick feedaback.

[2016-10-15 06:45] geekbeast opened #14 "Auth0JWTToken doesn't seem to load app metadata when using bearer token."
Realized that (1) java servlet headers are case insensitive and (2) that it was failing at a different point so re-purposing issue.

I've gotten everything working except that roles aren't being received server side when just using a bearer token as described in the docs. This seems to make sense at the data is loaded by the JWTVerifier.verify(...) method and only includes bearer token fields.

Gi

[2016-10-15 10:56] geekbeast commented on #14
Also just realized we were using older version of the libraries. After upgrade to latest, still seeing issue above.

I think this is mostly a doc issue-- it's not clear how to construct the request to include app metadata in the bearer token, which is what the code seems to expect. We were able to work around it by using the authentication java client to retrieve the data and update the granted au

[2016-10-17 08:57] arcseldon commented on #14
@geekbeast - Please refer to our [Sample for this library](https://github.com/auth0-samples/auth0-spring-security-api-sample#add-role-based-authorization-by-creating-an-auth0-rule) - the README goes into some detail how to setup a RULE in the Auth0 Dashboard that would for example add ROLES to a JWT Token.

Furthermore, you can use the [AuthorityStrategy](https://github.com/auth0/auth0-spring-secu

[2016-10-17 08:58] arcseldon commented on #14
@geekbeast - Re. latest libraries - the dependencies were updated 2 days ago too :)

[2016-10-19 17:06] geekbeast commented on #14
Thanks! We already have all that setup.

The issue is that that roles aren't showing up with the standard way of loading the bearer token in the API.

Here's what we ended up doing:

[code]

[2016-10-19 17:08] geekbeast commented on #14
We have to manually used the `AuthenticationAPIClient` to manually retrieve the roles.

You can check out what we're to retrieve the jwt token from Auth0 here:

https://github.com/kryptnostic/rhizome/blob/develop/src/test/java/digital/loom/rhizome/authentication/AuthenticationTest.java

[2016-10-19 17:18] adrogon commented on #14
Hello @geekbeast,

How do you generate the token? Roles would appear if you set them in the scope.

For example, using `lock`, it looks like this:
`options: {
  auth: {
    params: {scope: 'openid email roles'}
  }
}`

The documentation is [here](https://auth0.com/docs/scopes).

Then make sure your `auth0.authorityStrategy` is set to `ROLES` and the authorities should be set in the `Auth0UserDetai

[2016-10-20 23:25] geekbeast commented on #14
Thanks! That simplifies things quite a bit :)

I think it would still be helpful to have a link to that article from the Java documentation, in particular the spring documentation.

Without knowing that I should be searching for "scope" it's hard to glue together the write pieces to use the Auth0 jwt tokens to pass context between spring microservices.

[2016-10-21 02:00] arcseldon commented on #14
@geekbeast - thank you for this feedback. The sample readme does detail all this [here](https://github.com/auth0-samples/auth0-spring-security-api-sample#test-the-api) but we shall ensure the official docs page gets updated [here](https://auth0.com/docs/quickstart/backend/java-spring-security) too. Pleased your issue is sorted out - shall leave this issue open until docs update completed.

[2016-10-21 08:32] mpaktiti commented on #14
Thanks guys, the documentation has been updated 👍

[2016-10-21 08:41] arcseldon commented on #14
@mpaktiti - Fantastic, thank you v.much!

[2016-10-21 08:41] #14 closed

[2016-11-18 23:17] stratosmacker opened #16 "Roles seem to be glossed over"
Sort of a continuation of the closed https://github.com/auth0/auth0-spring-security-api/issues/14
I don't mean to piggyback, but having a similar problem I will.

I read all of the documentation mentioned in the bug (and more), but when requesting the following
`options: {
  auth: {
    params: {scope: 'openid email roles'}
  }
}`
roles are not retrieved. However when requesting
`options: {
  auth

[2016-11-19 08:38] arcseldon commented on #16
@stratosmacker - thanks for raising this issue. Have put in a request with our docs team to clarify today's behaviour. Trying with `"scope":"openid email roles xyz app_metadata"` I see custom attributes `xyz` and `roles` both as top level claims and inside `app_metadata`. Can you confirm you also see same behaviour. Here i just set up a simple rule to add both attributes as follows:

[code]

[2016-11-21 13:54] stratosmacker commented on #16
Yes I think we are on the same page. I am actually using a rule quite like that to set Roles (I think that's a wiki example right?).
Adding the xyz assignment into the rule I get the expected result:
`"app_metadata": {
        "roles": [
            "ROLE_ADMIN",
            "ROLE_USER"
        ],
        "admin_verified": true,
        "xyz": "xyz"
    },
`

So if the Java library is making a Top

[2016-11-21 14:00] arcseldon commented on #16
@stratosmacker - RE. your question, no it should not break it. The behaviour i am seeing is  that the custom attributes xyz and roles both as **top level claims** and **inside app_metadata**.   In other words, you can retrieve the same information from either the base of the JWT Token or by inspecting inside the app_metadata property itself.

[2016-11-21 14:06] stratosmacker commented on #16
So making a JWT with
`
options: { auth: { params: {scope: 'openid email roles'} } }
`
Should give the roles at the top level of the Object?

I get something more like
`
{
  "email": "email@email.com",
  "email_verified": true,
  "iss": "https://stratosmacker.auth0.com/",
  "sub": "auth0|1234567890",
  "aud": "16781612679812679812",
  "exp": 1479773054,
  "iat": 1479737054
}
`

[2016-11-21 14:11] arcseldon commented on #16
Hi, no problem. Nope, what I am saying is add your `roles` attributes to `app_metadata` in your Rule. Then, call it with `{ auth: { params: {scope: 'openid email roles app_metadata'} } }` and you will get `roles` both at the base of the claims and inside the `app_metadata` attribute.

Am following up with the engineering and docs team to ensure this behaviour is both expected and consistent (and w

[2016-11-21 14:18] stratosmacker commented on #16
Hmm. Unfortunately, that doesn't seem to be how the JWT is coming back. Using
`
{ auth: { params: {scope: 'openid email roles app_metadata'} } }
`
I get

`
{
  "email": "email@email.com",
  "email_verified": true,
  "app_metadata": {
    "roles": [
      "ROLE_ADMIN",
      "ROLE_USER"
    ],
    "admin_verified": true,
    "xyz": "xyz"
  },
  "iss": "https://stratosmacker.auth0.com/",
  "sub": "a

[2016-11-21 14:51] arcseldon commented on #16
As the saying goes, "well it works for me" ;)

Please can you give me the actual Auth0 tenant name you are using (i could not find `stratosmacker`) - i will check your account. Also, please confirm you are using the exact same RULE I posted earlier.

Finally, please (create a DB connection and add a new user from Users section of dashboard if not already exists) use the CURL command below, putting

[2016-11-21 14:56] stratosmacker commented on #16
Sure thing. If you don't mind I'll pm you the details.

[2016-11-21 15:13] stratosmacker commented on #16
sent to your @gmail

[2016-11-22 01:52] arcseldon commented on #16
@stratosmacker - Thanks for email. Am based in Japan, hence the late reply.  Have sent you email response with explanation for this. Essentially, you have another conflicting Rule which is altering the default behaviour for scopes that I outlined above - full details in email.

[2016-11-23 20:29] lborgav commented on #11
@dariosaltarelli I cannot understood "2) Replace org.springframework.boot.context.embedded.FilterRegistration with org.springframework.boot.web.servlet.FilterRegistrationBean."

[2016-11-28 17:38] danieldonev opened #17 "CORS Filter - add "PATCH" method to the "Allow" header"
It seems that for some reason the CORS filter does not include "PATCH" as allowed methods Is there a reason for that, because i want to use the "PATCH" method.

[2016-11-29 17:57] chenkie commented on #17
@arcseldon can you take a look?

[2016-12-07 14:03] danieldonev commented on #17
Any feedback ?

[2016-12-13 01:44] hzalaz commented on #18
@sicrossley the audience is not the id of the clients but the id of the API, and is the way to tell if the token is meant for your API or another one. So you don't need to amend your deployed code on each new client.

[2016-12-13 02:13] #16 closed

[2016-12-14 21:30] sicrossley commented on #18
@hzalaz You're correct if I use the OAuth2 client credentials flow from a serverside app, when I obtain a JWT from https://auth0.com/docs/api/authentication#!#post--oauth-token  The clientId is the subject, and the id of the API is the audience.

We're also connecting clients from mobile and single page apps to the same API. These JWTs contain the authenticated user id as the subject, and the audi

[2016-12-17 21:33] arcseldon commented on #17
@danieldonev - apologies for delays in responding to this issue. Taking a look now - hopefully you were able to define your own CORSFilter (based on the library's) and override with your own AppConfig in the interim?

[2016-12-17 23:13] arcseldon commented on #21
@uetanabaro - not clear why you are sending that header to the API. That is an Angular XSRF feature for user sessions whereby you wish to associate a cookie with the request. This API is stateless and has no notion of session handling. Make sense?

[2016-12-17 23:24] arcseldon commented on #17
Have added `PATCH` to the default CORSFilter configuration for this library. Note, the library is designed only to offer sensible defaults, and makes it easy for the user of the library to override with the specific Filter / Settings they require for their own API app(s). However, in this case, PATCH is certainly a reasonable default to add.

Will be available in next minor release of this library

[2016-12-19 23:00] arcseldon commented on #17
@danieldonev - update published to maven central. Please retest and update here if poss. to confirm everything now works for you.

[2016-12-20 07:01] danieldonev commented on #17
Yes the issue is resolved. BUT please change the version in documentation from 0.3.2 to 0.3.3. Thank you for the help.

[2016-12-20 07:01] #17 closed

[2016-12-21 10:53] uetanabaro commented on #21
Yes you right, but when i do cross-site with angular2 it tests cross site with PARAMS method and expect X-XSRF-TOKEN in allowed content. I cant disable this feature in angular2.

[2017-01-18 01:36] adrogon opened #23 "ROLES AuthorityStrategy in 1.0.x"
In 0.3.x, the configuration property `auth0.authorityStrategy` could be set to `ROLES`, resulting in `authorities` being set based on the JWT `roles` claim.

In 1.0.0-rc.2, it looks like `AuthenticationJsonWebToken.getAuthorities()` only looks for the `scope` claim.

The following related questions:
- Are you going to allow `roles` as a configuration property again?
- Should we just extend `Authen

[2017-01-18 10:55] arcseldon commented on #23
@adrogon - Auth0 now (introduced midway through 2016 as an opt-in for Cloud Users) makes a clear distinction between a `Client` and a `Resource Server` - An API is by definition a Resource Server - and for that you now define `scopes` only - and these are applied to a JWT Access Token.

With the "legacy" flows - it was acceptable to send a JWT ID Token to an API endpoint (this was standard practic

[2017-01-18 17:12] adrogon commented on #23
Hello @arcseldon,

Really appreciate the time you took on explaining. We are using the JWT for authentication purposes only, not authorization. We happened to use the previous ID Token's `roles` for convenience, but will move that to the API instead.

I'm not sure what `scope` should contain in the end, but we are not going to use it for holding roles or groups anyway.

If you have a couple of min

[2017-01-18 17:12] #23 closed

[2017-01-18 17:25] arcseldon commented on #23
@adrogon - pleased it helped. FYI only - you can manipulate the access token scopes in similar way to how you could define a Rule previously for doing the same with id token etc.

[code]

[2017-01-18 18:00] arcseldon commented on #24
@adrogon - To clarify, and related to our conversation [here](https://github.com/auth0/auth0-spring-security-api/issues/23#issuecomment-273445271) - can you confirm you are sending a JWT Access Token, and using this API in conjunction with an Auth0 Resource Server?

The Access Token payload may look something like:

[code]

Above the user, logged into their SPA app (in this example) and then sent

[2017-01-18 19:01] adrogon commented on #24
Hello @arcseldon,

I'm not sure I would call it the Auth0 Resource Server flow.
The link you provided [here](https://github.com/auth0-samples/auth0-spring-security-api-resource-server-sample) states the following:

And that's what we went for.

Nonetheless, our current JWTs look like:
[code]

In 0.3.x, `Principal.getName()` would return the value of the `email` claim, and now in 1.0.x, it contains

[2017-01-18 19:24] arcseldon commented on #24
@adrogon - Thanks for clarifying. Again, as I stated when I shared the link - `using the legacy flows`.  The purpose of the new release - a Major semver update - is to move away from what we were previously encouraging users to do.

Am assuming the token you pasted above is a JWT ID Token ?  In which case you are using the wrong library now - this library is intended to support the new flows which

[2017-01-18 19:33] adrogon commented on #24
Yes, I was expecting that answer, so I guess we'll begin to move on to stronger workflows if possible.

Thank you for your help.

[2017-01-18 21:11] arcseldon commented on #24
@drogon - please take a look at this simple sample for illustration on how to use this new library with Access Token. Not sure it tells you anything you did not already know - but we were lacking a clear sample to show users.

Procured this morning in response to your enquiries!

[Simple Sample](https://github.com/auth0-samples/auth0-spring-security-api-sample/tree/v1)

And thanks for your underst

[2017-01-18 21:31] adrogon commented on #24
Let's say I believed 1.0 was more "ok, 0.x is stable enough to be version 1" than the semver breaking changing upgrade ;)

Thank you for the example. I understand what you are achieving here, we simply didn't know about [this](https://auth0.com/docs/api-auth/tutorials/configuring-tenant-for-api-auth).
We'll see if we can build our architecture on top of it.

[2017-01-18 21:59] arcseldon commented on #25
@bholagabbar - Hi. Please can you read this (now closed) [issue](https://github.com/auth0/auth0-spring-security-api/issues/24) for some context here.

In short, this API now follows our new flows and expects a JWT Access Token - it is configured as a Resource API Server in the Auth0 Dashboard.

There is a sample for the new version of the library [here](https://github.com/auth0-samples/auth0-sprin

[2017-01-18 22:40] bholagabbar commented on #25
Hey @arcseldon I am struggling with a major issue, could you please (PLEASE) help me out? https://github.com/auth0-samples/auth0-spring-security-api-sample/issues/10

I'd be really grateful. I've been banging my head figuring out what I've been doing wrong, no luck

[2017-02-09 20:24] eepstein opened #26 "Seems the src folder has disappeared from the master branch"
Looks like a good number of changes from the v0.x branch and closer integration with Spring via the WebSecurityConfigurerAdapter approach.  Good things.

BUT.... when looking here on github there's a gradle wrapper (an anti-pattern, by the way, despite what the folks at gradle.org advocate - just add a "wrapper" task to your build.gradle and let the user run: "gradle wrapper; ./gradlew foo" rather

[2017-02-09 20:38] hzalaz commented on #26
The lib folder has the source

[2017-02-09 20:38] #26 closed

[2017-03-19 01:32] revof11 commented on #11
I had a similar issue.  My problem was the Spring Boot and Spring Cloud versions.  I put it here since this comes up as the first search result for "_Caused by: java.lang.ClassNotFoundException: org.springframework.boot.context.embedded.FilterRegistrationBean_"

| Import Dependency | Bad Version | Good Version |
| ------- | ------ | ------ |
| spring-boot-dependencies | 1.5.0-RELEASE | 1.5.2-RELEA

[2017-03-20 15:11] jonashackt commented on #11
Many thanks to @revof11 !! Saved me a lot of debugging hours :)

[2017-03-29 00:09] jeacott1 commented on #25
just for clarity, if I need an email address, or want to verify email_verified=true, I now have to make a call to a resource server?

[2017-03-30 02:30] jeacott1 opened #27 "no support for isEnabled(), isAccountNonLocked(), isAccountNonExpired()"
when using this provider, regardless that the user.isEnabled property is set = emailVerified,
 there is nothing to actually do any check of this and the following standard properties.

user.isAccountNonLocked()
user.isAccountNonExpired()

consider extending AbstractUserDetailsAuthenticationProvider where this logic is properly handled.

[2017-03-30 16:51] jeacott1 opened #28 "spring security dependencies should be compileonly"
if people ard using spring security they are going to already have the dependencies.included in their own build

[2017-04-04 13:42] pacey opened #29 "Compliance with com.auth0:java-jwt-3.1.0"
spring-boot version: 1.5.2
auth0-spring-security-api version: 1.0.0-rc.2
java-jwt version: 3.1.0

I had to update the version of `com.auth0:java-jwt` to 3.1.0 (the auth0-spring-security-api depends on version 3.0.2) to support array claims so I can create tokens that mimic the groups claim in the Auth0 Authorization Extension. However, updating the library version in my project caused this runtime

[2017-04-04 14:24] pacey commented on #29
It looks like this is because the `Verification` class in 3.0.2 is a static inner class but in 3.1.0 the class was moved out into it's own class (Interface and Implementation).

[2017-04-05 14:46] Igor-G opened #31 "No possibility to setup the 'leeway'"
There's no way to configure the 'leeway' for the JWTVerifier with the available JwtAuthenticationProvider.
I had to implement a custom AuthenticationProvider (basically a copy of the JwtAuthenticationProvider) with the possibility to setup the 'leeway' for the 'issuedAt' date (to cover the timing mismatch between the server generating the JWT and the server verifying in).

Please provide some API

[2017-04-06 17:51] #29 closed

[2017-04-06 17:58] hzalaz commented on #27
The library is meant to be used with access tokens obtain via OAuth exchange [in Auth0](https://auth0.com/docs/api-auth) so they are used to call an API where the token is the one who authorize the access. This allows the API to be separated from the Authorization Server (AS) and ideally if the user is either locked or disabled he should not be able to get a token from the AS. The expiration is ha

[2017-04-06 17:58] #27 closed

[2017-04-06 18:07] hzalaz commented on #28
The library jar does not include spring or any other dependencies (its not a fat jar) so when you add it via maven it will try to solve the correct spring version based in our lib and your app. Is there something else you are worried about?

[2017-04-06 18:14] hzalaz commented on #31
Yes, we could add that. Also PRs are welcome!

[2017-04-06 20:19] maxromanovsky commented on #25
JWT contains all the necessary info, so IMHO no need to call external server if JWT was verified (i.e. signature is correct). That's the whole idea, but I can't find an interface to do that.

As a quick fix, I've:

1. Created my own class implementing `org.springframework.security.core.Authentication`, containing `email` and other necessary fields. All interface methods are just proxying calls to

[2017-04-06 20:21] maxromanovsky commented on #25
@arcseldon any thoughts?

[2017-04-06 20:22] hzalaz commented on #25
The authentication details already have the decoded token so calling https://github.com/auth0/auth0-spring-security-api/blob/master/lib/src/main/java/com/auth0/spring/security/api/authentication/AuthenticationJsonWebToken.java#L60 will yield all the claims of the token and you can pick what you need

[2017-04-06 20:31] maxromanovsky commented on #25
@hzalaz It's really too hard to use it, as you need to do the casting for `getDetails`, as well as transform each claim to the necessary type. That's why I did all this magic.
Basically, it's not a generic JWT token, but the token from an `auth0` API, so having POJO like in this library IMHO would be awesome https://github.com/auth0/auth0-java-mvc-common/blob/master/src/main/java/com/auth0/Auth0Us

[2017-04-06 20:33] hzalaz commented on #25
We could try to return a POJO that makes things easier but in the end there will be no single format. Also considering that this should be used with AT the only you need to pay attention to are the scopes and if the token  is valid. The rest of rules that dictates if the user can have access to the Resource Server should be done during authorization not on every api request, specially since the AP

[2017-04-09 20:24] maxromanovsky commented on #25
IMHO, POJO would make a life much easier.
First, there's already a POJO for the MVC: https://github.com/auth0/auth0-java-mvc-common/blob/master/src/main/java/com/auth0/Auth0User.java
Second, maybe I miss something, but why is it a bad idea to use information from JWT as long as signature is valid? There's no need to make an additional API call to get basic details like email or user id.
Third, cur

[2017-04-12 07:46] michalig opened #32 "Any chance for new release?"
Hi, is there any chance for new release with com.auth0:java-jwt:3.1.0? I see it's already in master. I'm trying to use application_metadata and with old version of java-jwt it seems impossible.

[2017-04-18 08:30] pacey commented on #31
I'd be happy to work on this. At the moment the `JwtAuthenticationProvider` has static methods with the `issuer` and `audience` strings as parameters. I could add the leeway as an extra one, but that feels a bit wrong. Do you have any suggestions for how you'd like the extra verification options provided?

[2017-04-20 01:11] hzalaz commented on #31
Maybe a method in the configurer but I have no strong opinion now

[2017-04-28 02:50] kentTanL commented on #11
@dariosaltarelli How should I replace?

[2017-04-28 05:24] brickyard commented on #32
+1

[2017-04-28 13:05] lbalmaceda commented on #32
We will hold for java-jwt:3.2.0 to be released.

[2017-04-28 13:05] #32 closed

[2017-04-28 13:06] #28 closed

[2017-05-02 04:46] jeacott1 commented on #27
this doesnt make sense to me. are you saying that despite the jwt carrying this information already, the auth server should be called from the server on every request to check the nonlocked nonexpired status?

[2017-05-02 05:10] jeacott1 commented on #28
yeah, the pom hauls in specific versions of a bunch of dependencies and requires them at runtime.
should be compileOnly

https://blog.gradle.org/introducing-compile-only-dependencies

[2017-05-02 13:27] hzalaz commented on #27
@jeacott1 this library is meant to be used by access tokens not id tokens. The id_token may hold that information (added via rules) but that token wont be used for the api call.

If you check our https://auth0.com/docs/api-auth doc and the structure of the access_token, there is no such information by default since as I said before most of those validation should be done before issuing the token n

[2017-05-12 00:47] jeacott1 commented on #27
sure - but the old lib uses id tokens, and in order to migrate from one strategy to the next without downtime this lib should be capable of supporting both no?
As an aside, my api is stateless, I need the email scope detail, and AccountNonLocked() AccountNonExpired() info on every request.
are you suggesting I now need to create my own new jwt to carry the data I need instead of it simply being av

[2017-06-13 10:59] nealeu opened #33 "Access to app_metadata and mapping to Authorities"
Hi,

In https://auth0.com/docs/tutorials/using-auth0-with-multi-tenant-apps you talk about using app_metadata for managing permissions.

We'd like to do this, but this library provides us no path to be able to provide configuration to do this.

As far as I can see we need to be able to provide a strategy into the innards of AuthenticationJsonWebToken to map app_metadata and expose the authorities.

[2017-06-19 08:41] nealeu commented on #33
@nikolaseu Any chance of a response on this?

Having now switched to Spring Security OAuth2 and patched that (it's easier as the beans can be overridden), I'm puzzled as to why you are doing your own version instead of working with Spring/Pivotal.

[2017-06-19 19:27] nikolassoares commented on #21
@uetanabaro How did you solve the problem, X-XSRF-TOKEN ?

[2017-06-22 14:10] matthewjsummers commented on #36
Just realised it can be done, for anyone else:

[code]

[2017-07-23 14:50] Remboooo commented on #25
I feel pretty stupid, but I can't seem to wrap my head around how to get the user's email or name. I have an Angular2 app that authenticates with Auth0, requesting the openid scope, and responseType 'token id_token'. This app then calls my Spring backend using AuthHttp to get some JSON from a REST endpoint. I have configured the `JwtWebSecurityConfigurer` so that it rejects any unauthenticated req

[2017-08-04 06:50] musiKk opened #38 "Support for Curves"
We are using JWT's with ES384 which unfortunately is not supported by the provided `JwtAuthenticationProvider`; it only supports RS384 and HS256. We basically had to copy the existing authentication provider and implement it ourselves. This works well enough but is a bit fiddly and disturbs the out-of-the-box experience. Is it planned that support for curves is added? Do you need help with that?

[2017-08-07 15:34] lbalmaceda commented on #38
@musiKk this lib was made with [Auth0](https://auth0.com) in mind. When you create an Auth0 client you can ask the server to sign the access tokens either with HS256 (using the client secret) or with RS256 (using the private key). Support for ES is out of this SDK's scope.
Cheers.

[2017-08-07 15:34] #38 closed

[2017-08-08 05:59] musiKk commented on #38
Got it, thanks for the reply!

[2017-08-29 07:12] jeacott1 commented on #32
https://mvnrepository.com/artifact/com.auth0/java-jwt/3.2.0

[2017-09-04 14:30] lbalmaceda commented on #39
The library was made to be used with [Auth0 APIs](https://manage.auth0.com/#/apis) in mind which sets the defined scopes in the `scope` claim (standard as defined by oauth2). You can check this simple [quickstart](https://auth0.com/docs/quickstart/backend/java-spring-security/01-authorization) to learn how to set it up. At the moment, there's no way to change the name from where you get the scopes

[2017-09-08 12:41] jspetrak commented on #31
I've just had the same need. Would suggest to create the `withJWTVerifyLeeway()` method in `JwtAuthenticationProvider`, store the parameter, pass it to in `providerForHS256` method IF not null. And would use the `forRS256(String audience, String issuer, AuthenticationProvider provider)` method of `JwtWebSecurityConfigurer`.

@pacey Do you want to implement it? Otherwise I can contribute.

[2017-09-08 15:06] jspetrak commented on #31
@hzalaz I have provided PR#40 as an idea how to do it.

[2017-09-15 15:41] Remboooo commented on #25
Okay, for anyone running into the same issues, I figured it out. There are two tokens: id_token and access_token. id_token contains the information we want (name, email, etc), whereas access_token is just some key without any additional information. The latter gets sent to the backend API. The former is only available on the client side and should not be sent to the API.

If you want access to use

[2017-09-21 23:26] dheeraj-mummareddy opened #41 "Cannot use spring @PreAuthorize or @PreFilter annotations along with #oath2.hasRole expressions"
Issue: trying to use auth0-spring-security along with spring-security-oauth2,
[code]

And

[code]

scope validation completely skips validation as spring specifically checks for the Authentication type to be OAuth2Authentication, but instead its AuthenticationJsonWebToken

[code]

[2017-09-30 02:22] shorn commented on #31
Am using implementation from @jspetrak (changed to subclass original class) in the interim.  Works enough for me to get on with other things - please comment if anyone finds a major problem with it.

[2017-11-12 10:59] francescopeloi commented on #25
@Remboooo if in your API you use already the access token to authorize the user, I think there is nothing wrong on sending the id_token too and use it (n.b.: after you have authenticated the user with the access token) to get user info (but if course you need to check its validity too). But probably your option 2 is cleaner.

[2017-11-15 00:46] jeacott1 commented on #25
access token doesnt carry an emailValidated by default either. a rule adding the email and emailValidated is really the only way, and should be default from auth0 with an auth0 namespace, and a properly built spring handler that integrates these fields should be provided by this project.

[2017-11-29 18:59] lbalmaceda commented on #44
Spring context is supposed to store the `Authentication` instance for you. Once you obtain it, you should be able to get the JWT contents as that's what the `JwtAuthenticationProvider` [returns on authentication](https://github.com/auth0/auth0-spring-security-api/blob/master/lib/src/main/java/com/auth0/spring/security/api/JwtAuthenticationProvider.java#L55). I don't remember quite well the classes

[2017-11-29 19:22] peavers commented on #44
Awesome cheers for that, that makes total sense. Just one question, where abouts in the flow would you call something like that? In my security config after the token is verified?

[2017-11-29 19:45] lbalmaceda commented on #44
Ah! sorry I thought you wanted to obtain the token claims to extract user information later in your api. 🤦‍♂️ . If you need to hook into a successful authentication, either implement your own authentication chain [like this library does](https://github.com/auth0/auth0-spring-security-api/blob/master/lib/src/main/java/com/auth0/spring/security/api/JwtWebSecurityConfigurer.java#L100) and emit that "

[2017-11-29 20:55] peavers commented on #44
Hmm sorry for the confusion... I think you were right the first time, I'm just not explaining myself clearly, and I'm pretty fresh to Spring in general.

All I'm trying to do is save a user into MongoDB when they log in so I can save extra custom information about them. At the moment I have people authenticating correctly with Auth0 and getting a valid JWT; I'm just not sure how to save those peop

[2017-11-29 21:18] lbalmaceda commented on #44
No as the configure method is going to get called only once when the app is first run to configure the security chain, so at that time you won't have an authentication instance in the context holder. Also, the "authenticate this given token" step is going to get called for every request, that's how authenticators work, remember that this is stateless. I'd think twice if I really need to be writing

[2017-11-29 21:27] peavers commented on #44
You're correct, I think I'd just gone deep down the wrong rabbit hole and lost sight of what I was actually trying to achieve, cheers for the answers though they have pointed me in the correct direction :)

[2017-12-01 13:17] destan opened #45 "AuthenticationJsonWebToken should have a public constructor"
I think AuthenticationJsonWebToken should have a public constructor otherwise it's impossible to write a custom authentication provider by extending JwtAuthenticationProvider. Because in auth. provider we can't call com.auth0.spring.security.api.authentication.AuthenticationJsonWebToken#setAuthenticated instead we're encouraged to create a new instance of AuthenticationJsonWebToken.

It's very con

[2017-12-04 23:43] jeacott1 commented on #41
to get MethodSecurity working:
1. take a look at issue #43 , you need to let spring build your AuthenticationProvider.
2. if you need to inject any services into your OAuth2MethodSecurityExpressionHandler, make sure they are marked @Lazy

[2017-12-06 21:29] KarmicJohn commented on #33
@nealeu - do you have an example of what you've overrode here to get access to the app_metadata for adding authorities to the access filters?

[2017-12-07 08:59] skliche commented on #33
Yup we also switched to Spring Security OAuth2 and removed all auth0 dependencies. To map special claims of the token, I wrote a UserAuthenticationConverter and injected my implementation in the DefaultAccessTokenConverter. Hope this helps.

[2017-12-07 23:43] KarmicJohn commented on #23
@arcseldon - Is it possible to then pull these namespaced permissions / groups / roles for authorization in our WebSecurityConfigurerAdapter?

It's not really clear how the switch to OIDC requiring namespaced claims via the Authorization Extension can then translate to authorization in Spring Security for securing endpoints in our API using the Groups / Roles / Permissions from the Authorization E

[2017-12-18 02:57] peavers opened #46 "Caching issue when logging in, I think?"
Bit of a long shot raising this here but I'm not sure where else to turn.

Using Consul and Actuator it looks like Spring Security is caching the login from those services, so when I attempt to login via Auth0 the FilterSecurityInterceptor is using the cached version of the Actuator user.

Has anyone experienced anything like this? I have a good feeling I've just not configured something correctly

[2017-12-27 17:54] brassier commented on #43
@jeacott1 - any update on this?  We seem to be running into this exception recently, seemingly out of the blue.  Even more strangely is it seems to only happen for our Native Auth0 client (SPA is fine), and it seems to clear itself up for requests 1-2 seconds after the JWT was initiated from Auth0.

[2017-12-27 19:48] dheeraj-mummareddy commented on #41
thanks @jeacott1 , will take a look at the issue.

[2018-01-01 22:59] jeacott1 commented on #43
@brassier have you configured spring as the generator of your AuthenticationProvider bean? or are you still doing it the auth0 documented way?

[2018-01-02 15:06] brassier commented on #43
@jeacott1 - thanks for following up.  We found out that in our case there was an odd server time syncing issue, where our server clocks were behind Auth0's.  During token authorization we were getting failures because Auth0's code checks the issue date in the token to make sure it is in the past.  That was failing, and showing this error which caused us to chase the wrong thing.

[2018-01-11 13:31] bastman commented on #33
We have the same issue. Our authorities are stored in "scope" and "some-prefix/claims/roles". Is there any chance to make them accessible?

[2018-01-11 13:38] skliche commented on #33
Is Spring Security OAuth2 not an option for you?

[2018-01-25 21:17] rhanton opened #47 "Please update guava version to 20+ or removed if unused"
I'm not very familiar with gradle projects, but it appears that the com.google.guava:guava import in this project is no longer used. Could you remove it in the next version if that is the case? It is causing conflicts for us in a project that utilizes the google-cloud libraries.

[2018-02-21 15:09] #47 closed

[2018-02-25 16:33] Oduig commented on #31
Just stumbled upon this problem, because the browser clock was a second ahead of the server clock.

Since this is supposed to integrate with Spring, how about using a @Bean instead of a static function? That way we could easily supply our own JWTVerifier without having to change all the APIs.

[2018-03-12 23:26] rhanton commented on #45
I completely agree. We have the same needs of manually populating an AuthenticationJsonWebToken ourselves (to feed to the JwtAuthenticationProvider).

[2018-04-04 10:24] jeremieca opened #52 "Get details when token validation failed"
Hi,

Is it possible to know, in error controller (``` public class OnErrorController implements ErrorController ```), why 401 error is raised by Auth0 (expired token, invalid signature, invalid roles...) ?

Thanks !

[2018-04-04 14:01] lbalmaceda commented on #52
I don't think I understand your question. If the validation fails by any reason (i.e. the signature is invalid, token expired, etc) the token is not to be trusted and thus, the unauthorized error raises.

[2018-04-04 14:36] lbalmaceda commented on #52
"What happened that failed" is something you probably don't want to disclose. A `401` response already says that the authentication failed, meaning that a different token should be used on the next attempt. That should be enough for any user.
If you want to know the reason for server side logging or debugging, the [verification step throws](https://github.com/auth0/auth0-spring-security-api/blob/m

[2018-04-04 14:36] #52 closed

[2018-04-04 14:59] jeremieca commented on #52
Thanks, perfect.

[2018-05-04 00:53] jeacott1 opened #54 "algorithm detection"
Hi,
 is there any reason the line below doesn't just check the alg header to discover the proper encoding instead of only being able to configure this for a single type of jwt?
its tedious to have to configure alternate beans for RSA and HMAC support

 https://github.com/auth0/auth0-spring-security-api/blob/7818c506cd5ce88a6f6345e199a67553069595d0/lib/src/main/java/com/auth0/spring/security/api/Jw

[2018-05-07 00:11] jeacott1 commented on #54
thanks for the link! and for the general case it makes sense to me, but I'm still not sure I understand why it would be bad to modify that line to something like:
 if (secret != null && algorithmIsHMAC(alg)) {...

it is more restrictive than current, and would enable the use of both hmac and rsa tokens making integration testing less painful with the same configuration.

[2018-05-07 14:47] lbalmaceda commented on #54
In any case, HMAC works with a secret in comparison to RSA which accepts only public and private keys that's why the method's signature differs, so if `secret != null` you're 100% in a HMAC scenario. This is also [called internally](https://github.com/auth0/auth0-spring-security-api/blob/059563c556218779d7eec99c9b3c8f9f26a3d5ec/lib/src/main/java/com/auth0/spring/security/api/JwtWebSecurityConfigur

[2018-05-08 00:03] jeacott1 commented on #54
I acknowledge that HMAC requires a secret, and as a result of that its easy to use for integration testing.
If that line filtered on the hmac alg as well as the secret existing I could have my cake and eat it!
hmac would work, rsa would work, and no bunnies will have died in the process. I wont need to filter on profiles or env vars etc to select the correct config for the environment and a bunch

[2018-05-08 13:12] lbalmaceda commented on #54
There's no "alg" value to switch on. Like I said, the class only supports HS256 and RS256. Each is accessible using the [byte array](https://github.com/auth0/auth0-spring-security-api/blob/7818c506cd5ce88a6f6345e199a67553069595d0/lib/src/main/java/com/auth0/spring/security/api/JwtAuthenticationProvider.java#L28) or the [JwkProvider](https://github.com/auth0/auth0-spring-security-api/blob/7818c506c

[2018-05-14 10:50] Xabin opened #55 "PreAuthenticatedAuthenticationJsonWebToken uses wrong class for logging"
PreAuthenticatedAuthenticationJsonWebToken uses class JwtAuthenticationProvider for logging:
public class PreAuthenticatedAuthenticationJsonWebToken implements Authentication, JwtAuthentication {
    private static Logger logger = LoggerFactory.getLogger(JwtAuthenticationProvider.class);

I'm guessing this is a copy-paste error. It confused me during troubleshooting.

[2018-05-22 04:07] jeacott1 commented on #54
"is the same as / would mean the same as

if (secret != null && algorithmIsHMAC(alg)) {
}"

is not true. with the addition of algorithmIsHMAC(alg)
I can set a secret AND rsa tokens will still work properly. this is what I want.

[2018-05-23 14:50] lbalmaceda commented on #55
Thanks! TBH I don't know if that was intentional or not. But it makes sense to use the current class in the Logger. I'll add this to my backlog unless you want to submit a PR, of course.

[2018-05-23 16:54] lbalmaceda commented on #54
That's not open for discussion. The idea is that you use a single algorithm for verification purposes. If you need to support different signing keys you can already use the JWKs by providing a public key in the well-known/jwks file and a key id claim in the tokens. By using the kid and the domain, that file is obtained along with the correct public key.

[2018-05-23 23:35] jeacott1 commented on #54
nice! not open for discussion in an open source project, awesome attitude.
how should your flow work for integration tests? I want to be able to have my tests generate tokens with a range of attributes/expiry/users etc to test my code, and I want to support production RSA tokens without resorting to fundamentally different code paths and configuration. the addition of a secret key used during test

[2018-05-24 23:26] jeacott1 commented on #54
Agreed the alg wont change during runtime, but I want to test my code using  various tokens in various states with varying content preferably using the same configuration, just with different parameters provided. in my proposed case I simply wouldn't provide a secret for production use.

As such my tests generate their own HMAC tokens - not dependent on auth0  - with which to properly test and get

[2018-05-31 00:20] jeacott1 commented on #54
Re "There's no "alg" value to switch on."
- there is, although its not available via the interface it could easily be exposed.  all implementations carry the data, and as a hack is available brute forcing it something like:

((JWTDecoder)((PreAuthenticatedAuthenticationJsonWebToken) authentication).getDetails()).getAlgorithm()
or ((JWTDecoder)((AuthenticationJsonWebToken) authentication).getDetail

[2018-05-31 16:01] mouadino opened #56 "Can you add an example of how to do social login with Auth0"
As the title says it will be great if you show how to social login with Auth0 and also, which is the part I am struggling with the most, get details from JWT.

[2018-05-31 19:43] #31 closed

[2018-05-31 19:43] #55 closed

[2018-10-11 12:38] bmorris591 opened #2 "Consider using `AbstractConfiguredSecurityBuilder.apply`"
The examples call `configure` passing in the instance of `HttpSecurity`, this is non idiomatic from a Spring JavaConfig point of view.

I would expect `JwtWebSecurityConfigurer` to be a `SecurityConfigurerAdapter` so that I can use a much more idiomatic inline call

[code]

This allows for configuration of the `JwtWebSecurityConfigurer` inline, as part of the JavaConfig system - and the `configure

[2018-11-10 02:27] denyska opened #5 "JwtWebSecurityConfigurer prevents AuthenticationEvents from being published."
The code below blocks DefaultAuthenticationEventPublisher to be wired into org.springframework.security.authentication.ProviderManager hence App can't listen to AbstractAuthenticationEvent event.

[code]

This happens due to the fact that WebSecurityConfigurerAdapter uses different instance AuthenticationManagerBuilder for the HttpSecurity (see WebSecurityConfigurerAdapter.getHttp) and rather dele

[2018-12-09 08:37] eacdy opened #9 "When do we support spring security reactive?"
like below?
https://github.com/spring-projects/spring-security/issues/4624

[2018-12-28 07:50] josephbagnes opened #10 "Spring security XML config"
Please give sample XML configuration with entry point and filter definitions for support of older spring versions where XML configuration is used.

[2018-12-28 22:44] ryan-barker-zefr opened #11 "Support additional OIDC Conformant scope claims"
Simply, to support the Authorization plugin and OIDC, this project needs to support more than just the scopes claim for permissions.

I have a pull request coming for this with good unit tests

Background:

We are using the authorization plugin and are adding permissions, groups and roles to our token.

Our payload looks something like:

{
  "https://zefr.com/claims/permissions": [
    "youtube-re

[2019-02-05 15:50] jsaraiya1 opened #15 "use of proxy for calling getJwks() in UrlJwkProvider"
Can we configure UrlJwkProvider to use a proxy setting before making getJWKs() call.  Can we make this to be configurable based on the environment. e.g Developers will use this for local workstattion. On cloud, it will not be required.

[2019-02-25 10:59] bastman opened #18 "Feature: multi-tennant awareness planned?"
Is there a feature planned to support multiple auth0 tennants within a spring-boot application?

And idea could be to let the backend-developer provide a whitelist of tennants being accepted by spring-security.

[2019-03-02 18:07] xOctave opened #19 "Relying on the SecurityContextRepository to extract the token from the request is bad practice"
SecurityContextRepository is for persisting a {@link SecurityContext} between requests, not retrieving from context.

Would you please provide another implementation based on filter.

Thanks,
O.

[2019-03-07 09:47] fritzdj opened #20 "Feature Request: Support for Spring Security 5"
### Description
Spring Boot 2.1.X brings in Spring Security 5. We have been using Spring Security natively and it's working well, but there may be room for Auth0 to have a starter lib that helps with auto-config. Okta has a really nice one for example: https://github.com/okta/okta-spring-boot

[2019-03-07 19:36] lbalmaceda commented on #18
This is not something we plan, but feel free to leave your feature requests or suggestions right here so they can be reviewed by the product team https://auth0.com/feedback

[2019-03-07 19:36] #18 closed, assigned to nobody

[2019-03-26 20:52] davidmelia opened #21 "Feature Request: Support Spring Security WebFlux"
Spring WebFlux enables Reactive Programming.   This means that Spring WebFlux Security uses a different security object:
`org.springframework.security.config.web.server.ServerHttpSecurity`

and so the JwtWebSecurityConfigurer.configure method is not compatible.

This story is to do something similar for webflux i.e have a

`WebFluxJwtWebSecurityConfigurer.configure `
which takes in a ServerHttpSec

[2019-03-28 14:53] Greenbones opened #22 "Null Pointer in BearerSecurityContextRepository"
### Description

My team is using Auth0 and this library in about 10 different services. It works great most of the time, but we are seeing an intermittent failure in one service that I cannot figure out.

It only occurs in our build environment when using a Linux image when running our functional tests. On developer machines, in production and on a Windows build image it works fine.

However, on

[2019-03-28 15:10] lbalmaceda commented on #22
According to the javadocs, the `SecurityContextHolder#createEmptyContext()` will [delegate](https://docs.spring.io/spring-security/site/docs/4.2.9.RELEASE/apidocs/org/springframework/security/core/context/SecurityContextHolder.html#createEmptyContext--) that creation to the strategy. We don't set a specific strategy so it will be using the default one, which is `ThreadLocal`. Here [they mention](h

[2019-03-28 15:48] Greenbones commented on #22
The thing that's really strange is that `ThreadLocalSecurityContextHolderStrategy` just returns a new `SecurityContextImpl` when createEmptyContext is called. I don't have a clue how that could be coming back null.

In any case, I can play with the strategy and see if that makes any difference, thanks for the suggestion.

[2019-03-28 17:20] lbalmaceda commented on #22
I don't really understand how spring is plugging stuff here. They mention the strategy will only work on a given thread.

Maybe on your linux image this is not the case.

[2019-03-28 20:19] Greenbones commented on #22
I've managed to find a way to work around this issue in our build and seeing as it seems pretty unlikely that this issue is related to the Auth0 library itself, I think we might as well close it. I've got a question out on Stack Overflow, so if we'll see if any Spring Security experts chime in there.

Thanks for the help.

[2019-04-14 07:56] kaikun213 commented on #5
Having the same issue when using @PreAuthorize/@PostAuthorize.
This is a valid workaround, would be great to integrate it into the library so that it would not be needed anymore!

[2019-05-10 09:39] mickaeltr opened #24 "Feature request : provide tooling/documentation for testing secure controllers using @WebMvcTest"
So far, I have not been able to test the security of my Spring controllers using [@WebMvcTest](https://spring.io/guides/gs/testing-web/). I ended up disabling the security:
[code]
(by the way, [secure](https://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/test/autoconfigure/web/servlet/WebMvcTest.html#secure--) is now deprecated, I am not sure how to replace it yet)

**I wou

[2019-05-10 19:13] jimmyjames commented on #24
Hi @mickaeltr - If you haven't yet, please take a moment to request any documentation or product improvements at [https://auth0.com/feedback](https://auth0.com/feedback).

I did take a quick pass at this using Spring Boot 2.1.4 and Auth0 Spring Security 1.2.1. Using `WebMvcTest` in combination with `@WithMockUser` it should be possible to test secured APIs:

[code]

In addition to the resources yo

[2019-05-13 15:35] mickaeltr commented on #24
Hi @jimmyjames,
Thanks for the feedback.
I don't know yet why but `@WithMockUser` only works on GET requests! On my application, other methods return 403.
Could you please provide examples with other verbs?
Cheers

[2019-05-18 18:25] sappenin opened #25 "Why are the `iss` and `aud` claims non-optional for HS-256?"
### Question Description
When verifying tokens signed using `HS_256`, [`JwtAuthenticationProvider`](https://github.com/auth0/auth0-spring-security-api/blob/master/lib/src/main/java/com/auth0/spring/security/api/JwtAuthenticationProvider.java#L110) requires the presence of both the `iss` _and_ `aud` claims. There is no constructor that allows instantiation without them, and setting them to `null` o

[2019-05-22 19:40] lbalmaceda commented on #25
@sappenin first things first. This is a library dedicated to the **Auth0 specifics** authentication and (some) authorization flows. The `iss` claim is added on all server issued tokens, as far as I remember. The `aud` one defines which APIs will be able to consume the token. In the case of this api/backend library, that's a necessary check, right? since your API would like first to check that the

[2019-05-29 12:35] sappenin commented on #25
@lbalmaceda Thanks so much for your response!

That makes sense, my apologies for the oversight. I originally posted this into [java-jwt](https://github.com/auth0/java-jwt) thinking the problem was in that library, but once I realized the actual class that was preventing me (JwtAuthenticationProvider) lived in here, I just re-posted without looking. Sorry about that.

Not really. Instead, the moti

[2019-05-29 12:35] #25 closed, assigned to nobody

[2019-06-06 13:05] Prophet32j commented on #11
This issue has been sitting here for over 6 months with a PR. Why hasn't this been reviewed and discussed? I would also like to have my additional rules in Auth0 be propagated into my Spring security.

[2019-06-06 21:49] Prophet32j commented on #11
I was able to get this to work within the bounds of the current API. I had to create my own AuthenticationProvider. I created a facade around the JwtAuthenticationProvider that would use its internal mechanisms to decode the JWT. It wraps it in an Authentication class which I can then use in my own Authentication class to grab my own custom claims and process them as I need for more user metadata.

[2019-06-06 22:33] Prophet32j commented on #11
first create your custom Authentication that can wrap Auth0's implementation. Here is where you can customize and grab all of your custom claims. Also this is where you will build your authorities (roles) for Spring Security:
[code]

Then create your custom AuthenticationProvider, extending Auth0's implementation. Note how I use a builder so that way you can instantiate the JwkProvider before call

[2019-08-21 12:44] JeremyTwiggs opened #35 "Converting scopes into authorities could be more lenient / resilient."
### Description

- Auth0 is creating JWTs where there are multiple spaces between the values in the scope claim
- We're using the Auth0 Management UI to assign scopes

### Prerequisites

- [x] I have checked the documentation for this library [Add a link].
- [x] I have checked the [Auth0 Community](https://community.auth0.com/) for related posts. I have raised this: https://community.auth0.com/t/j

[2019-08-22 09:05] JeremyTwiggs commented on #35
A quick update to this ticket.
I have just found the cause of the problem, someone had created some scopes with a trailing space.
Deleting and re-adding the scopes fixed the issue for us.

However, I still feel this library could benefit from being made more resilient.
Maybe some logging could be used so that any errors are not silently covered up.

[2019-09-16 11:59] skjolber opened #36 "Permissions support"
Support [API permissions](https://auth0.com/docs/dashboard/guides/apis/add-permissions-apis).

### Description

We're getting tokens with `permissions` from Auth0.

Replace scopes with permissions, in [AuthenticationJsonWebToken.java](https://github.com/auth0/auth0-spring-security-api/blob/master/lib/src/main/java/com/auth0/spring/security/api/authentication/AuthenticationJsonWebToken.java#L41.).

[2019-09-25 03:03] jimmyjames commented on #36
Hi @skjolber,

I don't think we want to _replace_ creating `GrantedAuthority` from scopes with permissions, as scopes still are valid. But I agree we do need to evaluate support for allowing APIs to be secured using the `permissions` claim.

Spring 5 does this [by adding a prefix](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2resourceserver-authorization) to

[2019-10-18 08:34] mickaeltr commented on #24
My bad… I just figured out that tests on unsafe HTTP methods were failing not because of Auth0 but because of the CSRF.

Adding `.with(SecurityMockMvcRequestPostProcessors.csrf())` to the RequestBuilder fixes it.

[2019-10-18 08:34] #24 closed, assigned to nobody

[2019-10-28 02:07] #9 closed, assigned to nobody

[2019-10-28 21:25] #22 closed, assigned to nobody

[2019-11-02 04:05] #2 closed, assigned to nobody

[2019-11-02 04:05] #10 closed, assigned to nobody

[2019-11-02 04:05] #19 closed, assigned to nobody

[2019-11-02 04:05] #15 closed, assigned to nobody

[2019-11-02 04:05] #20 closed, assigned to nobody

[2019-11-02 04:05] #21 closed, assigned to nobody

[2019-11-02 04:05] #5 closed, assigned to nobody

[2019-11-02 04:05] #11 closed, assigned to nobody

[2019-11-26 11:57] tenjaa opened #39 "JWTVerifier with varargs is ambiguous"
Hey,
we ran into an issue that is described in another project of your org.
https://github.com/auth0/java-jwt/issues/344

An backwards compatible fix would probably be to provide another constructor.
But I doubt that anyone should be passing null into the audience, as it is just not working as expected.
So changing the construcor param to varargs and then handling it could also be an option.

Tell

[2019-11-27 09:52] #35 closed, assigned to nobody

[2020-01-30 15:18] #36 closed, assigned to jimmyjames

[2020-02-24 16:23] tenjaa commented on #39
I don't think that's resolved yet

[2020-03-10 17:32] ssrm commented on #39
I also ran into same issue, I have kept a pull request on java-jwt project, have to see what will happen to that pr.

[2020-03-25 15:18] fooock opened #42 "Authorities from permissions not works"
### Description

I have an user with one role assigned. This role has the `read:expired` permission. My API application has the RBAC enabled, and I have checked the *Add Permissions in the Access Token* feature.

When I login with that user, the token has the following content in the `permissions` block:

[code]
Then in my project, I have this web security configuration:

[code]
 In my controller:

[2020-03-25 17:23] fooock commented on #42
I did make it working by simplifying the web configuration method to:

[code]

[2020-03-25 17:23] #42 closed, assigned to nobody

[2020-03-31 22:47] c0nscience opened #43 "Spring Webflux Support"
### Describe the problem you'd like to have solved

The current version of the library does not support spring webflux. A reactive programming model is an interesting paradigm and a first party support from auth0 would be very beneficial to avoid broken custom implementations

### Describe the ideal solution

A simple configuration variant as shown in this commit: https://github.com/Tikinou/auth0-

[2020-04-01 19:22] Jazzepi opened #44 "Published package missing dependencies"
### Description
I started wtih version 1.0.0 which had these first-level published dependencies.
[code]
I started version 1.3.0 has NO first-level published dependencies.
[code]
which broke the example of using the `JwkProviderBuilder`
[code]
You may want to include those dependencies, or make a note of where the class JwkProviderBuilder can be found.

[2020-04-09 03:23] jimmyjames commented on #43
:wave: Hi @c0nscience, thanks for the feedback!

I agree, the reactive features introduced in Spring 5 via WebFlux are awesome! Spring 5 / Spring Boot 2 also has added support for OIDC/OAuth2, for which we have a [Quickstart](https://auth0.com/docs/quickstart/backend/java-spring-security5/01-authorization) and an accompanying [sample app](https://github.com/auth0-samples/auth0-spring-security5-api

[2020-04-09 09:30] c0nscience commented on #43
@jimmyjames sweet! Thank you very much this is a way better solution 👍 Just switched to it and it all works as it did before. So that means this library here is basically deprecated right?

[2020-04-10 01:30] jimmyjames commented on #43
Hi @c0nscience , glad that you found that sample useful! 👍

We are looking into what the future of this SDK should be. We could update it similar to the link you provided to support Spring 5, but we should understand what benefits that gives us versus providing guidance on configuring Spring Security for Auth0 without the need for this SDK (for those on Spring Boot 2 / Spring 5). And longer term,

[2020-04-10 23:20] c0nscience commented on #43
@jimmyjames yeah that sounds good. Having a starter in the end would be very nice.

[2020-04-12 19:07] maxkramer commented on #44
Seems that this issue first appears in v1.2.0. Upgrading from 1.1.0 to 1.{2|3}.0 gives me the issue that when anything from the `org.springframework.security` package is missing

[2020-04-13 20:36] jimmyjames commented on #44
Thanks for the report! You are correct, dependencies were changed from `compile` to `implementation`, so those dependencies are no longer exposed. We'll get a change in to surface those dependencies needed by this SDK. In the meantime, you can of course add the dependencies you need manually.

[2020-04-13 21:01] Jazzepi commented on #44
No problem :)

On Mon, Apr 13, 2020 at 4:36 PM Jim Anderson <notifications@github.com>
wrote:

[2020-04-13 23:09] jimmyjames commented on #44
Hi @Jazzepi and @maxkramer I have a [PR](https://github.com/auth0/auth0-spring-security-api/pull/45) to address this. If you want to take a look and provide feedback, that would be appreciated, then we can get this released to fix this issue 👍

[2020-04-13 23:37] #44 closed, assigned to nobody

[2020-04-13 23:42] jimmyjames commented on #43
I've updated the README with clearer Spring version support, along with a link to that Quickstart/sample for Spring 5/Spring Boot 2. Will continue to look at providing a starter at some point in the future, as I 100% agree it's the most ideal solution for Spring going forward 💯

[2020-04-13 23:42] #43 closed, assigned to nobody

[2020-05-27 21:16] foundingnimo opened #48 "Broken link on Readme"
### Description

The readme file contains a broken link to the samples repository

### Reproduction

Click on the link

### Environment
n/a

[2020-06-02 20:09] jimmyjames commented on #48
Hi @duckranger, thanks for the report and suggested fix. The fix looks good, but the linked PR looks to be made on your fork. If you can make a PR to this repo, we'll approve and get it merged. Thanks!

[2020-06-04 19:21] jimmyjames opened #50 "Unauthorized and Forbidden responses should set WWW-Authenticate header"
### Description

Requests that are unauthorized (`401`) or forbidden (`403`), should set the `WWW-Authenticate` header as specified by [RFC 6750](https://tools.ietf.org/html/rfc6750#section-3)

### Reproduction

1. Using the `auth0-spring-security-api` to secure an endpoint that requires a valid Bearer JWT access token, issue a request with an invalid access token (expired, malformed, etc). The re

[2020-06-04 21:20] #48 closed, assigned to nobody

[2020-06-17 15:07] jimmyjames commented on #50
Closed with #51. We will ship a new release this week containing this change.

[2020-06-17 15:07] #50 closed, assigned to nobody

[2020-06-30 18:26] jimmyjames commented on #39
I've verified that this issue is resolved. It was fixed in the `java-jwt` library by [this PR](https://github.com/auth0/java-jwt/pull/412). If you are using version `1.3.1` or later of this library and still seeing this issue, please reopen so we can investigate further. Thanks!

[2020-06-30 18:26] #39 closed, assigned to nobody

[2020-07-03 12:41] ShevaDavid commented on #20
any news?

[2022-01-11 00:44] evansims opened #59 "Security Recommendation: Use Spring 5 / Spring Boot 2"
This library uses Spring Security 4, and is targeted at applications using Spring 4 and/or Spring Boot 1.

The following are vulnerabilities that could affect this library when used with Spring 4/Boot 1:
- [CVE-2021-22112 ](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-22112) is a medium severity vulnerability in Spring Security (`org.springframework.security:spring-security-web`) 5.4.x

[2022-01-11 00:44] #59 closed, assigned to nobody

[2022-01-18 20:14] rhanton opened #61 "Update to java-jwt 3.18.3 for jackson security vulnerability"
### Describe the problem

Like other spring MVC library, this lib should have dependencies brought up to date, particularly https://github.com/auth0/java-jwt/releases/tag/3.18.3 should get pulled in.

### What was the expected behavior?

Should not have jackson known vulnerability.

### Reproduction

Unknown

### Environment

N/A

[2022-01-19 09:36] poovamraj commented on #61
Hi @rhanton Thanks a lot for bumping this up. We currently have PR #62  that is fixing this. The new version will be released soon so closing this issue. Please feel free to open it back if you have more queries.

[2022-01-19 09:36] #61 closed, assigned to nobody

[2022-07-01 23:47] AlexanderNZ opened #70 "Doc update: `WebSecurityConfigurerAdapter` is deprecated"
Auth0's documentation published within this repo, and on quickstarts for Spring related projects across Auth0 refer frequently to WebSecurityConfigurerAdapter.

This method of configuration is deprecated. The docs in `WebSecurityConfigurerAdapter.java` suggests:

Please consider updating these docs so that they don't advocate for deprecated security config methods.

PS - recommend an issue type fo

[2022-07-08 10:08] poovamraj commented on #70
Hey @AlexanderNZ thanks a lot for this. We are looking into this and planning to fix this asap. Will keep you in the loop about it 👍

[2022-07-19 09:53] poovamraj commented on #70
Hi @AlexanderNZ, The docs are updated to use the latest SecurityFilterChain. Thanks for reporting this, we are closing this now. Please feel free to reopen it if you have any more questions

[2022-07-19 09:53] #70 closed, assigned to nobody